<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiroboot.shirotest.dao.TabAuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shiroboot.shirotest.model.TabAuthority">
        <id column="id" property="id" />
        <result column="col_name" property="colName" />
        <result column="col_status" property="colStatus" />
        <result column="col_code" property="colCode" />
    </resultMap>

</mapper>
